<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.asghoul.dao.OrderMapper">

    <!--修改地址-->
    <update id="updateAddress" >
        update address_table SET
        address_table.address=#{address},
        address_table.telphone=#{telphone},
        address_table.name=#{name}
        WHERE  address_table.id=#{adressId}
    </update>

    <!--插入新地址-->
    <insert id="addAddress" >
        insert into address_table (clientId,address,telphone,name)
        values (#{clientId},#{address},#{telphone},#{name});
    </insert>


    <!--返回地址id-->
    <select id="returnId" parameterType="cn.asghoul.pojo.Address" resultType="int">
         SELECT address_table.adressId FROM adress_table  WHERE address_table.addressId=#{addressId}
         ORDER BY addressId
         LIMIT 0,1
    </select>
    <!--将地址设为默认地址-->
    <update id="updateDefault">
        UPDATE  address_table SET address_table.defaultAddress=0
        WHERE  address_table.addressId=#{adressId}
    </update>
    <!--将地址设为普通地址-->
    <update id="updateNormal">
         UPDATE  address_table SET address_table.defaultAddress=1
        WHERE  address_table.addressId=#{adressId}
    </update>

    <!--根据订单id查询地址-->
    <select id="selectById" resultType="cn.asghoul.pojo.Address">
        select * from address_table,order_table where address_table.addressId=order_table.addressId
        and order_table.orderId=#{orderId}
        and address_table.addressId=order_table.addressId
    </select>
    <!--查询所有地址-->
    <select id="selectAddress" resultType="cn.asghoul.pojo.Address">
        SELECT address_table.addressId,address_table.name,address_table.telphone,address_table.address,address_table.defaultAddress
        FROM address_table WHERE address_table.clientId=#{clientId}
    </select>

    <!--查询默认地址-->
    <select id="selectDefault" resultType="cn.asghoul.pojo.dto.OrderPay">
        select address_table.name,address_table.telphone,address_table.address from address_table where address_table.defaultAddress=0;
    </select>
    <!--查询第一条地址-->
    <select id="selectFirst" resultType="cn.asghoul.pojo.dto.OrderPay">
        select address_table.name,address_table.telphone,address_table.address from address_table limit 1;
    </select>
    <!--删除地址-->
    <delete id="delAddress" parameterType="int">
        delete from address_table where address_table.addressId=#{addressId}
    </delete>


    <!--三级联动地址查询-->
    <!--省-->
    <select id="province" resultType="String">
        select area.name from area where area.patentid=0;
    </select>
    <!--市-->
    <select id="city" parameterType="int" resultType="String">
        select area.name from area where area.parentid=#{id};
    </select>
    <!--区-->
    <select id="district" parameterType="int" resultType="String">
        select area.name from area where area.parentid=#{id};
    </select>

    <!--根据名称查询对应id-->
    <select id="returnId" parameterType="String" resultType="int">
        select area.id from area where area.name=#{name};
    </select>

</mapper>