<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.asghoul.dao.OrderMapper">

    <!--生成订单表 -->
    <insert id="addorder" parameterType="cn.asghoul.pojo.Order">
        insert into order_table(
                                addressId,
                                payState,
                                money,
                                createTime,
                                expressState,
                                endTime) values (#{addressId},0,#{money},timestamp(now()),0,timestamp(now(), '00:15:00'))
    </insert>

    <!--删除订单表-->
    <delete id="delorder">
        delete from order_table where order_table.orderId=#{orderId}
    </delete>

    <!--查询订单-->
    <select id="selectOrders" parameterType="int" resultType="cn.asghoul.pojo.dto.OrderPay">
        select address_table.name,address_table.telphone,address_table.address,order_table.money
        from address_table,order_table
        where address_table.addressId=order_table.addressId and address_table.clientId=#{clientId}
    </select>




</mapper>