<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.asghoul.dao.OrderStatusMapper">


        <!--   查看待收货的商品  -->
        <select id="showToBeReceivedItem" parameterType="int" resultType="cn.asghoul.pojo.dto.OrderManageItem">
           select client.name,items.itemName,items.descr,items.price,pic_item.picAddress
           from client,items,order_table,order_item,pic_item
           where order_table.orderId=order_item.orderId=#{orderId}
           and order_item.itemId=items.itemId
           and pic_item.itemId=items.itemId
           and items.clientId=client.clientId
           and order_table.expressState=0
        </select>

        <!--   查看待评价的商品  -->
        <select id="showToBeCommentItem" parameterType="int" resultType="cn.asghoul.pojo.dto.OrderManageItem">

           select client.name,items.itemName,items.descr,items.price,pic_item.picAddress
           from client,items,order_item,order_table,pic_item
           where order_table.orderId=order_item.orderId=#{orderId}
           and order_item.itemId=items.itemId
           and pic_item.itemId=items.itemId
           and items.clientId=client.clientId
           and order_item.commentState=0
        </select>

        <!--   查看未付款的商品  -->
        <select id="showToPayItem" parameterType="int" resultType="cn.asghoul.pojo.dto.OrderManageItem">
            select client.name,items.itemName,items.descr,items.price,pic_item.picAddress
            from client,items,order_item,pic_item,paystate_table
            where order_table.orderId=order_item.orderId=#{orderId}
            and paystate_table.orderId=order_item.orderId
            and order_item.itemId=items.itemId
            and pic_item.itemId=items.itemId
            and items.clientId=client.clientId
            and paystate_table.payState=0
        </select>


        <!--修改评论状态为待评价-->
        <update id="updadteToBeComment">
            update order_table set order_table.commentState=0 ;
        </update>
        <!--修改评论状态为已评价-->
        <update id="updadteCommented">
            update order_table set order_table.commentState=1;
        </update>


        <!--修改物流状态为待收货-->
        <update id="updateToBeReceived">
               update order_table set  order_table.expressState=0;
        </update>
        <!--修改物流状态为已收货-->
        <update id="updateReceived">
               update order_table set  order_table.expressState=0;
        </update>

        <!--修改支付状态为已支付-->
        <update id="updatePrepaid">
            update paystate_table set paystate_table.payState=1 where paystate_table.orderId=#{orderId}
        </update>
</mapper>