<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="cn.asghoul.dao.OrderCreateMapper">

    <!--生成订单表 -->
    <insert id="addorder" parameterType="cn.asghoul.pojo.Order">
        insert into order_table(orderId,
                                addressId,
                                payState,
                                money,
                                createTime,
                                commentState,
                                expressState,
                                endTime) values (#{orderId},#{addressId},1,#{money},timestamp(now()),0,0,timestamp(now(), '00:15:00'))
    </insert>




    </mapper>